<a href="https://github.com/{{ include.username }}/openshift-workshops/zipball/master" class="button">
    <small>Download</small> .zip file
</a>

<a href="https://github.com/{{ include.username }}/openshift-workshops/tarball/master" class="button">
    <small>Download</small> .tar.gz file
</a>

<!-- <p class="repo-owner">
    <a href="https://github.com/{{ include.username }}/openshift-workshops">
        <span class="icon icon--github">{% include icon-github.svg %}</span>
    </a>
    is maintained by
    <a href="https://github.com/{{ site.github_username }}">
        <span class="username">{{ include.username }}</span>
    </a>.
</p> -->

<h2>Additional Material</h2>
    <ul class="list-unstyled">
        <li>
            <a href="{{ site.baseurl }}/download/01_OpenShift_Overview_Presentation.pdf" target="_blank">Platform Overview</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/download/02_OpenShift_Technical_Deep_Dive_Presentation.pdf" target="_blank">Technical Deep Dive</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/download/03_OpenShift_Community_vs._Enterprise_ Presentation.pdf" target="_blank">Community vs. Enterprise</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/download/04_OpenShift_+_Red_Hat_MAP_Presentation.pdf" target="_blank">OpenShift + Red Hat MAP</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/download/05_OpenShift_Client_References_Presentation.pdf" target="_blank">Client References</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/download/06_Kubernetes_Overview_Ebook.pdf" target="_blank">Kubernetes Ebook</a>
        </li>
    </ul>
